* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
a {
    color: white;
    padding: 50px;
    text-decoration: none;
}
.header-title h1 {
    color: white;
}
.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding: 10px;
    grid-template-areas: 
    "masonry1 responsive overlap overlap"
    "masonry1 fluid explictly negative"
    "flexible masonry2 explictly masonry3"
    "dom masonry2 tracks tracks "; 
}
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding:80px;
    font-size: 30px;
}
body {
    background-color: blue;
}
.item1 {
   
    grid-area: masonry1;
}
.item2 {
    grid-area: responsive;
}
.item3 {
    grid-area: overlap;
}
.item4 {
    grid-area: overlap;
}
.item5 {
    grid-area: masonry1;
}
.item6 {
    grid-area: fluid;
}
.item7 {
    grid-area: explictly;
}
.item8 {
    grid-area: negative;
}
.item9 {
    grid-area: flexible;
}
.item10 {
    grid-area:masonry2;
}
.item11 {
    grid-area: explictly;
}
.item12 {
    grid-area: masonry3;
}
.item13 {
    grid-area: dom;
}
.item14 {
    grid-area: masonry2;
}
.item15 {
    grid-area: tracks;
}
.item16 {
    grid-area: tracks;
}